body{
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
.toggle{
	width: 100%;
	padding: 0px 10px;
	background: #35424a;
	text-align: right;
	box-sizing: border-box;
	color: #fff;
	font-size: 20px;
	display: none;
}
@media (max-width: 768px){
	.toggle{
		display: block;
	}
	nav ul{
		width: 100%;
		display: none;
	}
	nav ul li{
		display: block;
		text-align: center;
	}
	
	.active{
		display: block;
	}
}

ul{
	margin: 0;
	padding: 0;
}

header{
	position: fixed;
	width: 100%;
	background: #35424a;
	color:#ffffff;
	padding-top: 30px;
	min-height: 70px;
	border-bottom:  3px solid;


}
header a{
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}


header li{
	float: left;
	display: inline;
	padding: 0 20px 0 20px;
}
header #branding{
	float: left;
}
header #branding h1{
	margin:0;
}
header nav{
	float: right;
	margin-top: 10px;

}
header .highlight, header .current a{
	color:#e8491d;
	font-weight: bold;
}
header a:hover{
	color:#cccccc;
	font-weight: bold;
}

#showcase{
	min-height: 780px;
	background: url('../images/computer.jpg') no-repeat;
	background-position: center center;
	background-size: cover;
	text-align: center;
	color: #ffffff;
}
#showcase h1{
	margin-top: 150px;
	font-size: 60px;
	margin-bottom: 10px;
}
#showcase p{
	font-size: 25px;
}
#boxes{
	margin-top: 20px;
}
#boxes .box{
	float: left;
	text-align: center;
	width: 17%;
	padding: 10px;
}
#boxes .box img{
	width:120px;
}
footer{
	padding: 10px;
	margin-top: 10px;
	color: #ffffff;
	background-color: #e8491d;
	text-align: center;
}




#showcase-contact{
	min-height: 780px;
	background: url('../images/contact2.jpeg') no-repeat;
	background-position: center center;
	background-size: cover;
	text-align: center;
	color: #ffffff;
}
#showcase-contact h1{
	margin-top: 270px;
	font-size: 80px;
	margin-bottom: 100px;
}
#showcase-contact p{
	font-size: 25px;
}
#boxes-contact{
	margin-bottom: 10px;
	background-color: #e8491d;
}
#boxes-contact .box-contact{
	float: left;
	text-align: center;
	width: 20%;
	padding: 30px;
}
#boxes-contact .box-contact img{
	width:60px;